vllm>=0.14.1
torch>=2.10.0
transformers>=5.1.0
sentencepiece>=0.2.1
accelerate>=1.12.0
Pillow>=12.1.0
pandas>=3.0.0
numpy>=2.4.2
PyYAML>=6.0.3
python-dotenv>=1.2.1
tqdm>=4.67.3
psutil>=7.2.2
num2words>=0.5.14
